.lista-ordenada{
    background-color: yellow;
}

.par{
    color: green;
}

.impar{
    text-transform:uppercase;
}

.titulo{
    color: red;
}

.italico{
    font-size: 40px;
    border: 1px solid black;
}