/* .caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
/* .padding {
  padding: 20px;

} */

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
/* .margin {
  margin: 30px;

} */

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
/* .border {
  border: 5px solid  black;

} */

/* .B{
  margin-left: -5px;
}  */


.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  margin-left: 60px;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  margin-top: 320px;
  margin-left: 50px;
}

.baloon {

}

.speech {
  font-size: 25px;
}

.bowser {
  width: 200px;
  position: absolute;
}