*{
margin: 0px;
}


.header{
    background-color: green;
    height: 130px;
}

h1{
    text-align: center;
    height: 50px;
    margin-top: 0px;    padding-top: 20px;
    box-sizing:border-box;
    font-size: 50px;
}

.list-header{
    background-color: blue;
    list-style-type: none;
    height: 30px;
    margin-top: 50px;
}

.li-pagina-inicial{
    display: inline-block;
    font-size: 20px;
    margin-left: 250px;
    padding-top: 3px;
}

.li-sobre{
    display: inline-block;
    font-size: 20px;
    margin-left: 200px;
    padding-top: 3px;
}

.li-contato{
    display: inline-block;
    font-size: 20px;
    margin-left: 200px;
    padding-top: 3px;
}

.list-link{
    color: white;
    text-decoration: none;
}

.main{
    margin-top: 50px;
    margin-left: 15%;
    text-align: center;
    width: 800px;
    display: inline-block;
    border: 10px solid black;
}

h2{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;

}

h3{
    font-size: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    
}

p{
    text-align: justify;
    width: 750px;
    margin-left: 2%;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}


.text-information{
    margin-bottom: 10px;
}

.table{
    font-size: 15px;
    text-align: left;
    margin-left: -450px;
    display: inline-block;
    margin-bottom: 20px;
    border:5px solid cyan;
    
}

img{
    margin-bottom: 30px;
}

.h3-referencias{
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
}

ol{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

aside{
    position:fixed ;
    width: 240px;
    margin-left: 10px;
    display: inline-block;
    top: 180px;
    border: 10px solid black;
    
}

.h3-aside{
    width: 400px;
    font-size: 25px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.link-relacionado{
    text-decoration: none;
    color: cyan;
}

.p-relacionado{
    margin-left: 10px;
}

footer{
    text-align: center;
    height: 200px;
    margin-top: 50px;  
}

.h3-footer{
    margin-bottom: 10px;
    padding-top: 40px;
}

.p-footer{
    text-align: center;
    margin-left: 20%;
}

a{
    text-decoration: none;
    color: cyan;
}


